<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <!-- <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" /> -->
      </div>
    </div>
            <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/akerays" target="_blank">ኣኬራይ</a>
        <a class="btn btn-primary btn-lg" href="/tekerays" target="_blank">ቴኬራይ</a>
        <a class="btn btn-primary btn-lg" href="/services" target="_blank">ሊዩ ልዩ ኣጌልግሎቶች</a>
      </p>
    </div>
    <h1>Afelalagi</h1>
    <br>

    <div class="row">
      <p class="lead">
        This is going to be written in amharic to describe what we do
      </p>
    </div>

  </div>

</section>
